.Story{
    white-space: pre-wrap;
    margin-left: 30%;
    margin-right: 30%;
    background-color:black;
    padding: 10px;
    font-size: 18px;
}   

.Chapter{
    color:white;
    padding:50px;
    background-color: #58666d;
    margin-bottom: 100px;
}